<%- include("particle/header")-%>
<div class="container">
  <form action="/users/forgotpassword" method="post" class="w-50 border border-dark p-3 m-auto mt-5 text-center">
    <h2>Reset Password</h2>
    <input type="text" name="email" class="w-100 mt-2 border border-dark rounded-3 p-2" placeholder="Enter the Email">
    <button type="submit" class="btn btn-primary fw-bolder mt-3">Enter</button>
  </form>
</div>
<%- include("particle/footer")-%>