<%- include("particle/header")-%>
<div class="container">
  <div class="mt-5 w-50 m-auto">
    <a href="/auth/github" class="text-decoration-none">
      <button type="button" class="btn border-2 border-dark px-5 fs-3"><i class="fa-brands fa-github mx-4"></i>Github</button>
    </a>
    <a href="/auth/google" class="mx-5 text-decoration-none">
      <button type="button" class="btn border-2 border-dark px-5 fs-3"><i class="fab fa-google mx-4"></i>Google</button>
    </a>
  </div>
</div>
<%- include("particle/footer")-%>
